<app-header></app-header>
<div class="jumbotron jumbotron-fluid sauna-banner">
    <div class="container">
        <div style="position: relative; margin-top: 20%" class="row">
            <div class="col-4 jumbotron__header">
                <h1 class="display-4">Sauna</h1>
                <hr class="my-4" />
                <p>
                    Unsere mallorquinische Saunalandschaft lockt mit
                    vielfältigen Themensaunen und Dampfbädern. Mit stets neuen
                    Aufgusszeremonien werden all Ihre Sinne geweckt.
                </p>
            </div>
        </div>
    </div>
</div>
