<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Segitz Therme</h1>
        <p class="lead">
            Swimming pool
        </p>
        <hr class="my-4" />
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button"
                >Learn more</a
            >
        </p>
    </div>
</div>
