<div class="jumbotron jumbotron-fluid hero-banner">
    <div class="container">
        <div class="row">
            <div class="col-4 jumbotron__header">
                <h1 class="display-4">Segitz Therme</h1>
                <hr class="my-4" />
                <p>
                    Ihr Ort zum Entspannen.
                </p>
            </div>
        </div>
    </div>
    <a
        href="; false"
        class="more-button d-flex justify-content-center"
    >
        <div class="row justify-content-center align-self-center">
            <i class="material-icons">
                keyboard_arrow_down
            </i>
        </div>
    </a>
</div>
