<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h1 class="display-4">Segitz Therme</h1>
                <hr class="my-4" />
                <p>
                    Ihr Ort zum Entspannen.
                </p>
            </div>
        </div>
    </div>
    <div class="more-button container d-flex justify-content-center">
        <div class="row justify-content-center align-self-center">
            <i class="material-icons">
                keyboard_arrow_down
            </i>
        </div>
    </div>
</div>
