<app-header></app-header>
<div class="container view">
    <div style="position: relative; top: 15%" class="row align-items-center">
        <div class="col">
            <h1 class="display-4">Check-In</h1>
        </div>
    </div>
    <div
        style="position: relative; top: 15%; margin: 5%;"
        class="row justify-content-around"
    >
        <div class="col-6 text-center">
            <form>
                <div class="form-group">
                    <input
                        #employeeID
                        type="text"
                        class="form-control"
                        id="inputID"
                        placeholder="Mitarbeiter ID eingeben"
                        required
                    />
                </div>
            </form>
            <div class="h1" style="margin: 5%;">
                Zu zahlender Betrag: {{ price }} €
            </div>
            <div class="text-center">
                <button
                    (click)="onCheckinButtonClicked()"
                    type="button"
                    class="btn btn-primary btn-lg"
                >
                    Check-In
                </button>
            </div>
            <div style="margin: 5%" class="text-center">
                <button
                    (click)="onMenuButtonClicked()"
                    type="button"
                    class="btn btn-primary btn-lg"
                >
                    Menü
                </button>
            </div>
        </div>
    </div>
</div>
