<div class="jumbotron jumbotron-fluid about-banner">
    <div class="container">
        <div class="row">
            <div class="col-6 col-xs-12">
                <img src="assets/img/swimmer.jpg" width="500px">
            </div>
            <div class="col-6 col-xs-12 about-banner__description">
                <h1 class="display-3">Über uns</h1>
                <hr />
                <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</div>
