<div class="jumbotron jumbotron-fluid about-banner">
    <div class="container">
        <div class="row">
            <div class="col-6 col-xs-12">
                <img src="assets/img/swimmer.jpg" width="500px" />
            </div>
            <div class="col-6 col-xs-12 about-banner__description">
                <h1 class="display-3">Über uns</h1>
                <hr />
                <p class="lead">
                    Die Thermenlandschaft wird durch das natürliche Heilwasser
                    der Kleeblattquelle (fluoridhaltiges
                    Natrium-Calcium-Chlorid-Sulfat-Thermalwasser) gespeist. Das
                    Wasser der Segitzquelle enthält sogar das Neuneinhalbfache
                    an gelösten Mineralien, nämlich 9,5 Gramm pro Liter!
                </p>
            </div>
        </div>
    </div>
</div>
