<app-header></app-header>
<div class="jumbotron jumbotron-fluid leisure-banner">
    <div class="container">
        <div style="position: relative; margin-top: 20%" class="row">
            <div class="col-4 jumbotron__header">
                <h1 class="display-4">Spaßbad</h1>
                <hr class="my-4" />
                <p>
                    Die Insel für kleine und große Abenteu(r)er. Hier zeigt sich
                    die Segitz Therme von seiner sonnigsten Seite – und das
                    ganzjährig!
                </p>
            </div>
        </div>
    </div>
</div>
