<div class="">
    <div class="row align-items-center justify-content-around offset-2">
    <div class="col-4">
        <div class="contact__header">
            <h1 class="display-4">Unsere Öffnungszeiten</h1>
            <hr />
            <p class="lead">Täglich von 10.00 bis 23.00 Uhr (Einlass bis 22.00 Uhr)</p>
        </div>
        <div class="contact__header">
            <h1 class="display-4">Ihr Weg zu uns</h1>
            <hr />
            <p class="lead">Segitz Therme<br>
                    Ottostr. 22<br>
                    90762 Fürth</p>
        </div>
        <div class="contact__header">
            <h1 class="display-4">Kontaktieren Sie uns</h1>
            <hr />
            <p class="lead">Telefon: 0911 / 7 56 65 - 0<br>
                    E-mail: segitz@therme.de
                    </p>
        </div>
    </div>
    <div class="col-6">
        <img src="assets/img/maps.jpg">
    </div>
    </div>
</div>
