<app-header></app-header>
<div class="container view">
    <div style="position: relative; top: 15%" class="row align-items-center">
        <div class="col">
            <h1 class="display-4">Willkommen, Max Mustermann.</h1>
        </div>
    </div>
    <div style="position: relative; top: 40%" class="row justify-content-around">
            <div class="col-3 text-center">
                <button type="button" class="btn btn-primary btn-lg">Stammdatenverwaltung</button>
            </div>
            <div class="col-3 text-center btn-group-vertical">
                <button type="button" class="btn btn-success btn-lg">Check-In</button>
                <button type="button" class="btn btn-success btn-lg">Restaurant</button>
                <button type="button" class="btn btn-success btn-lg">Check-Out</button>
            </div>
            <div class="col-3 text-center">
                <button type="button" class="btn btn-danger btn-lg">Statistiken</button>
            </div>
        </div>
</div>
<app-footer></app-footer>
