<div class="jumbotron jumbotron-fluid price">
    <div class="display-4 offset-1 col-2">
        <h1 class="price__header">Tarife</h1>
        <hr />
        <br />
    </div>
    <div class="row no-padding justify-content-around">
        <div class="col-3 price-box">
            <div class="container">
                <div>
                    <h1 class="display-4">Erwachsener</h1>
                    <p class="card-text">Aufenthalt bis zu 2 Stunden</p>
                    <h1 class="display-4">15,50 €</h1>
                </div>
            </div>
        </div>
        <div class="col-3 price-box">
            <div class="container">
                <div>
                    <h1 class="display-4">Kind</h1>
                    <p class="card-text">
                        Aufenthalt bis zu 2 Stunden
                    </p>
                    <h1 class="display-4">10,50 €</h1>
                </div>
            </div>
        </div>
        <div class="col-3 price-box">
            <div class="container">
                <div>
                    <h1 class="display-4">Rentner</h1>
                    <p class="card-text">
                        Aufenthalt bis zu 2 Stunden
                    </p>
                    <h1 class="display-4">12,50 €</h1>
                </div>
            </div>
        </div>
    </div>
</div>
