<div class="jumbotron jumbotron-fluid price">
    <div class="display-4 offset-1 col-2">
        <h1 class="price__header">Tarife</h1>
        <hr /><br>
    </div>
    <div class="row no-padding justify-content-around">
        <div class="col-3 price-box">
            <div class="container">
                <div>
                    <h1 class="display-4">2 Stunden</h1>
                    <p class="card-text">Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy eirmod
                            tempor invidunt ut labore et dolore
                            magna aliquyam erat, sed diam voluptua.</p>
                    <h1 class="display-4">11,- €</h1>
                </div>
            </div>
        </div>
        <div class="col-3 price-box">
            <div class="container">
                <div>
                    <h1 class="display-4">4 Stunden</h1>
                    <p class="card-text">Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy eirmod
                            tempor invidunt ut labore et dolore
                            magna aliquyam erat, sed diam voluptua.</p>
                    <h1 class="display-4">13,- €</h1>
                </div>
            </div>
        </div>
        <div class="col-3 price-box">
            <div class="container">
                <div>
                    <h1 class="display-4">Tageskarte</h1>
                    <p class="card-text">Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy eirmod
                            tempor invidunt ut labore et dolore
                            magna aliquyam erat, sed diam voluptua.</p>
                    <h1 class="display-4">18,- €</h1>
                </div>
            </div>
        </div>
    </div>
</div>
